* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  background-color: #1d1d1de8;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

p {
  font-size: 2rem;
  color: #646464;
}